body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.body-content {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: repeat(3,auto);
}
.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.menu button {
    margin-bottom: 10px;
    width: 100%; 
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}


input[type="submit"]:hover {
    background-color: #4cae4c;
}

header {
    grid-row: 1/2;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    background-color: #1d809f;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 20px;
}

.first-nav {
    background-color: #3aa9d9;
    width: 80%;
}

.navigation {
    list-style-type: none;
}

.navigation a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 8px 16px;
    transition: transform .3s;
}

.navigation {
      display: flex;
}

.navigation li:first-child {
    display: none;
}

.navigation li {
    display: block;
    flex: 1 1 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #1d809f;
    font-size: 3em;
}

.search-form {
    display: flex; 
    align-items: center;
}

.search-form div {
    margin-right: 30px; /* Separación entre los elementos */
    margin-bottom: 20px;
}


footer {
    grid-row: 3/4;
    height: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 15% 20% 15%;
    align-items: center;
    padding: 10px 0;
    text-align: center;
    background-color: #1d809f;
    color: white;
    margin-top: 0;
}

footer p {
    grid-column: 2/3;
}

.footer-navigation {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-navigation a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 8px 16px;
    transition: transform .3s;
}

.footer-navigation ul {
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

.social-links {
    grid-column: 4/5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: transform .3s;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    width: 85%;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
}


.footer-navigation a:hover, .navigation a:hover, .social-links img:hover {
    opacity: .6;
    transform: scale(1);
}

.h3-bg {
    background-color: #A0C1D1;
    min-width: 90%;
    border: 2px solid #000;
    place-self: center;
    opacity: .4;
}

.h3-bg .date-header {
    margin: 0;
}

.date-header {
    text-align: center;
    width: 100%;
}


/* Registration */

.register-prompt {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc; /* Añadiendo un borde alrededor */
    border-radius: 5px; /* Esquinas redondeadas */
    text-align: center; /* Centrando el texto */
}

.register-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 4px; /* Esquinas redondeadas */
}

.register-link:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}